@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #CADCFC; /* Light seafoam green background color */
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #000; /* Default text color */
    font-size: 1.0em;
    box-sizing: border-box;
    /* line-height: 2.0; */
}
